@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

fieldset {
    display: flex;
    flex-direction: column;
}

legend {
    margin-bottom: 1rem;
}

.wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form--input {
    font-family: 'Roboto';
    margin-bottom: 0.5rem;
    height: 2rem;
}
button {
    margin: 0.5rem 0;
    height: 2rem;
}

/* ----------List-------------*/

.list--container{
    margin-top: 2rem;
    background-color: rgb(62, 7, 7);

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;

    border-radius: 10px;
}
.list--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    width: 90%;


    color: white;
}
.list--first{
    margin: 10px 0;
}
.list {
    margin: 5px 0;
}
.list:hover{
    cursor: pointer;
    background-color: rgb(161, 17, 17);

}
.list--checkbox {
    justify-self: start;
    grid-column: 1 / 2;
}
.list--task {
    justify-self: start;
    grid-column: 2 / 3;
}
.list--time{
    justify-self: center;
    text-transform: capitalize;
    grid-column: 3 / 4;
}
.list--delete{
    justify-self: end;
    grid-column: 4 / 5;
    cursor: pointer;
}
.Button {
    color: white !important;
    border-color: white !important;
    justify-self: end !important;
}